* {
    padding: 0px;
    margin: 0px;
}
/* Header with Navbar */
@font-face {
    font-family: mulish;
    src: url('./fonts/Mulish/static/Mulish-Regular.ttf');
}
@font-face {
    font-family: gentium;
    src: url('./fonts/Gentium_Book_Basic/GentiumBookBasic-Italic.ttf');
}
@font-face {
    font-family: libre;
    src: url('./fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf');
}
header {
    background-color: #FAF9F9;
    padding: 20px;
    position: relative;
}
nav > ul > li > a {
    font-family: mulish;
    color: black !important;
    border-left: 1px solid lightslategrey;
    height: 0px;
    margin-top: 25px;
    line-height: 0px;
    font-size: 20px;
}
#afirstchild {
    font-family: mulish;
    color: red !important;
    font-weight: 800;
    border-left: 1px solid #FAF9F9;
}
.logoimg {
    width: 60px;
    height: auto;
}
/* Section 1 */
.section1 {
    margin: 60px auto;
    width: 1390px;
    border-left: 1px solid red;
    height: 500px;
}
.toryintrobox1 {
    width: 20px;
    height: 20px;
    background-color: red;
    margin: 40px 0px 15px 25px;
}
.toryintrobox2 {
    width: 35px;
    height: 35px;
    background-color: red;
    margin: 0px 0px 20px -10px;
}
.toryintrobox3 {
    width: 20px;
    height: 20px;
    float: right;
    background-color: red;
    margin: 55px -110px 0px 0px;
}
.toryintrobox4 {
    width: 35px;
    height: 35px;
    float: right;
    background-color: red;
    margin: -35px -90px 0px 0px;
}
.toryintrobox5 {
    width: 35px;
    height: 35px;
    float: right;
    background-color: red;
    margin: 110px -60px 0px;
}
.toryintrobox6 {
    width: 275px;
    height: 129px;
    padding: 30px;
    background-color: rgb(231 221 221);
    color: black;
    font-family: libre;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    margin: -70px 0 0 0;
}
.toryintrobox6p {
    margin: 50px 60px 10px;
    text-align: right;
    font-size: 23px;
}
.toryintrobox7 {
    width: 550px;
    height: 320px;
    background-color: red;
    color: white;
    font-family: gentium;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.toryintrobox7btn {
    width: 180px;
    height: 30px;
    padding: 20px;
    background-color: red;
    color: white;
    border: 2px solid white;
    font-family: mulish;
    font-size: 14px;
    line-height: 0px;
    border-radius: 3px;
}
.toryintrobox7btn:hover {
    background-color: white;
    color: black;
}
.toryintrobox8 {
    position: relative;
    top: -85px;
    height: 40px;
    background-color: rgb(231 221 221);
}
.troyimg {
    position: relative;
    top: -80px;
    left: 120px;
    width: 375px;
    filter: contrast(1.3);
}
.endline {
    position: relative;
    top: -60px;
    height: 5px;
    border-radius: 2px;
    background-color: red;
}
/* Section 2 */
.section2 {
    margin: 60px auto;
    width: 1390px;
    border-left: 1px solid white;
    height: 480px;
}
.comealong {
    margin: 100px auto;
    font-size: 42px;
    text-align: center;
}
.comealongpara {
    height: 450px;
    text-align: left;
    background-color: #FF4343;
    color: white;
    font-family: mulish;
    font-size: 20px;
    margin: -1px;
}
div.comealongpara > p {
    position: relative;
    top: 25px;
    left: 40px;
    height: 400px;
    border-left: 1px solid white;
    padding: 53px 270px 0px 15px;
    font-size: 24px;
}
.whatsappimg {
    position: relative;
    width: 410px;
    height: auto;
    float: right;
    right: -210px;
    top: -360px;
}
.readstorybtn {
    position: relative;
    top: 25px;
    width: 240px;
    height: 50px;
    border: 1px solid red;
    color: red;
    padding: 9px;
    font-family: mulish;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
}
.readstorybtn:hover {
    background-color: red;
    color: white;
}
/* Section 3 */
.section3 {
    position: relative;
    top: 200px;
}
.partassoc {
    font-family: mulish;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.prowess {
    font-family: mulish;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #AFAFAF;
}
.pimg {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.partimg1 {
    width: 200px;
    height: auto;
    margin: 20px;
}
.partimg2 {
    width: 200px;
    height: auto;
    margin: 20px;
    padding-top: 50px;
}
.partimg3 {
    width: 350px;
    height: auto;
    margin: 20px;
    padding-top: 35px;
}
.partimg4 {
    width: 180px;
    height: auto;
    margin: 20px;
    padding-top: 25px;
}
/* Section 4 */
.musicplay {
    position: relative;
    top: 155px;
    width: 540px;
    height: 100px;
    background-color: #fbefef;
    z-index: 1;
    margin: auto;
}
.playbtn {
    position: relative;
    top: 15px;
    left: -33px;
    width: 70px;
    height: 70px;
    background-color: red;
    border: solid red;
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backward {
    position: relative;
    font-size: 22px;
    border: white;
    left: 60px;
    top: -36px;
}
.farward {
    position: relative;
    font-size: 22px;
    border: white;
    left: 60px;
    top: -36px;
}
.playerslider {
    position: relative;
    top: -104px;
    left: 161px;
}
.createyour {
    position: relative;
    top: 8px;
    font-family: mulish;
    font-size: 25px;
}
.sliderline {
    position: relative;
    top: -9px;
    left: 5px;
    width: 180px;
    height: 2px;
    background-color: black;
}
.signature {
    position: relative;
    top: -8px;
    font-family: qentium;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.timer {
    position: relative;
    top: -172px;
    left: 370px;
}
.volumnbtn {
    position: relative;
    font-size: 30px;
    width: 50px;
    height: 50px;
    top: -184px;
    left: 376px;
}
.section4 {
    width: 1390px;
    margin: -430px auto 0px;
    overflow: hidden;
    z-index: 0;
}
.redBackGround {
    width: 125%;
    height: 500px;
    background-color: #FF4343;
    z-index: 0;
    transform: rotate(6deg);
    position: relative;
    top: -73px;
    left: -152px;
}
.dataINRedBox {
    position: relative;
    top: 205px;
}
.redbackpara {
    position: relative;
    top: -30px;
    font-family: mulish;
    color: white;
    border-left: 1px solid white;
    width: 600px;
    padding: 20px;
    z-index: 1;

}
.mikeimg {
    position: relative;
    top: -95px;
    left: 60px;
    width: 300px;
    height: auto;
    filter: contrast(1.5);
    z-index: 1;
}
.mikebottom {
    position: relative;
    top: -100px;
    left: 100px;
    width: 750px;
    height: 21px;
    float: right;
    background-color: #EFEFEF;
}
.checkepisodes {
    position: relative;
    top: 80px;
    border: 1px solid red;
    color: red;
    width: 250px;
    height: 60px;
    padding: 0px 14px;
    font-family: mulish;
    font-size: 20px;
}
.checkepisodes:hover {
    color: white;
    background-color: red;
}
/* Section 5 */
/* .section5 {
    position: relative;
    top: -325px;
} */
.bandname {
    width: 355px;
    height: auto;
}
.bandnameredbtn {
    width: 170px;
    height: 40px;
    font-family: libre;
    font-size: 20px;
    color: white;
    background-color: #FF4343;
    border: 1px solid #FF4343;
}
.bandnameredbtn:hover {
    color: red;
    background-color: white;
    border: 1px solid #FF4343;
}
.bandnamewhitebtn {
    position: relative;
    top: -1px;
    width: 170px;
    height: 40px;
    font-family: mulish;
    font-size: 20px;
    color: #FF1616;
    background-color: white;
    border: 1px solid #FF1616;
}
.bandnamewhitebtn:hover {
    color: white;
    background-color: #FF4343;
    border: 1px solid #FF4343;
}
.btns1 {
    position: relative;
    top: -63px;
    left: 10px;
}
.btns2 {
    position: relative;
    top: -62px;
    left: 10px;
}
.btns3 {
    position: relative;
    top: -50px;
    left: 10px;
}
/* Section 6 */
/* .section6 {
    position: relative;
    top: -300px;
} */
.myfocusbox1 {
    position: relative;
    right: 20px;
    background-color: #ECECEC;
    height: 600px;
    font-family: mulish;
    font-size: 30px;
    color:#FF1616;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myfocusbox2 {
    padding: 103px 120px;
    background-color: #FF4343;
}
.myfocusotherboxs1 {
    background-color: white;
    height: 165px;
    margin: 63.3px 63.3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: mulish;
    font-size: 20px;
}
.myfocusotherboxs2 {
    background-color: white;
    height: 165px;
    margin: -93.7px 31.6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: mulish;
    font-size: 20px;
}
/* Footer */
footer {
    background-color: #FAFAFA;
}
.footerRow1 {
    text-align: center;
    margin: 0px auto 40px;
}
.footerbtn {
    width: 200px;
    height: 60px;
    border: 2px solid #FF4343;
    font-family: mulish;
    margin: 35px 31px;
    color: #FF4343;
}
.iconText {
    color: black;
}
.footerbtn:hover {
    background-color: #FF4343;
    color: white;
}
.followus {
    font-family: mulish;
    font-size: 20px;
}
.footerminilinks1 {
    font-size: 20px;
    padding: 5px;
}
.footerminilinks2 {
    font-size: 20px;
    color: #FF4343;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
.footerminilinks2:hover {
    color: white;
    background-color: #FF4343;
}
.footerlinks {
    font-family: mulish;
    font-size: 20px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 65px;
}
.footerlinks:hover {
    color: black;
    border-radius: 50px;
    background-color: rgb(230, 225, 225);
}