* {
    padding: 0px;
    margin: 0px;
}
/* Header with Navbar */
@font-face {
    font-family: mulish;
    src: url('../../fonts/Mulish/static/Mulish-Regular.ttf');
}
@font-face {
    font-family: gentium;
    src: url('../../fonts/Gentium_Book_Basic/GentiumBookBasic-Italic.ttf');
}
@font-face {
    font-family: libre;
    src: url('../../fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf');
}
header {
    background-color: #FAF9F9;
    padding: 20px;
    position: relative;
}
nav > ul > li > a {
    font-family: mulish;
    color: black !important;
    border-left: 1px solid lightslategrey;
    height: 0px;
    margin-top: 25px;
    line-height: 2px;
    font-size: 20px;
}
#aactive {
    font-family: mulish;
    color: red !important;
    font-weight: 800;
}
.logoimg {
    width: 60px;
    height: auto;
}
/* Section 1 */
.section1 {
    width: 100%;
    height: 730px;
    background-image: url('../../images/headphones.png');
    background-repeat: no-repeat;
    background-size: 100% 730px;
}
.backimg {
    width: 100%;
    height: 730px;
    background-image: url('../../images/PDX.png');
    background-repeat: no-repeat;
    background-size: 100% 730px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secsignature {
    border-left: 1px solid white;
    font-family: mulish;
    text-align: center;
    color: white;
}
.secsignature > p {
    font-size: 25px;
}
/* Section 2 */
.section2 {
    background-color: #F1F1F1;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mulish;
}
.sec2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFD;
    width: 80%;
    height: 600px;
}
.sec2div > p {
    font-size: 20px;
}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.col-8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.circle1 {
    border: 1px solid black;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    position: relative;
    top: -25px;
    left: 40px;
}
.circle2 {
    border: 1px solid black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}
.circle3 {
    border: 1px solid black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}
.circle4 {
    border: 1px solid black;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    position: relative;
    top: 60px;
    left: 40px;
}
.circle5 {
    border: 1px solid black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: relative;
    top: 40px;
    left: -30px;
}
.section2btn {
    border: 2px solid #FF4343;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 10px;
    color: #FF4343;
    font-family: mulish;
    margin: 30px 10px 0px 10px;
}
.section2btn:hover {
    background-color: #FF4343;
    color: white;
}
.sec2bottom {
    background-color: #FF4343;
    width: 100%;
    height: 150px;
}
/* Section 3 */
.section3 {
    width: 100%;
    height: 900px;
}
.sec3redbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FF4343;
    height: 600px;
    margin: 100px -5px 0px 50px;
    padding: 25px;
    color: white;
    font-family: mulish;
}
.sec3whitebox {
    background-color: #FAFAFA;
    width: 100%;
    height: 600px;
    margin: 100px 50px 25px -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.sec3img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mulish;
    font-size: 40px;
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px -7px;
}
.sec3BottomRow {
    display: flex;
    justify-content: left;
}
.sec3loadbtn {
    border: 1px solid #FF4343;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50px;
    color: #FF4343;
    font-size: 25px;
    font-family: mulish;
    margin-left: -5px;
}
.sec3loadbtn:hover {
    background-color: #FF4343;
    color: white;
}
/* Footer */
footer {
    background-color: #FAFAFA;
}
.footerRow1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerbtn1 {
    width: 200px;
    height: 70px;
    border: 2px solid #FF4343;
    color: #FF4343;
    font-family: mulish;
}
.footerbtn2 {
    width: 200px;
    height: 70px;
    border: 2px solid #FF4343;
    color: #FF4343;
    font-family: mulish;
}
.footerbtn1:hover, .footerbtn2:hover {
    background-color: #FF4343;
    color: white;
}
.followus {
    font-family: mulish;
    font-size: 20px;
    margin: 15px 0 -15px 0;
}
.footerminilinks1 {
    font-size: 20px;
    padding: 5px;
}
.footerminilinks2 {
    font-size: 20px;
    color: #FF4343;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
.footerminilinks2:hover {
    color: white;
    background-color: #FF4343;
}
.footerlinks {
    font-family: mulish;
    font-size: 20px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 0px;
}
.footerlinks:hover {
    color: black;
}