<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1st Project</title>
    <link rel="stylesheet" href="./about-troy.css">
    <link rel="stylesheet" href="../../bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../fonts/fontawesome-free-5.15.4-web/css/all.css">
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <a href="../../index.html">
                        <img class="logoimg" src="../../images/Logo_Black.png" alt="Tory Andrews" title="Tory Andrews">
                    </a>
                </div>
                <div class="col-8">
                    <nav>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a style="border-left: 1px solid #FAF9F9;" class="nav-link"
                                    href="../../index.html">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../podcast/podcast.html">PODCAST</a>
                            </li>
                            <li class="nav-item">
                                <a id="aactive" class="nav-link active" href="#">ABOUT-TROY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BOOK</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../contact/contact.html">CONTACT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BLOG</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="section1">
        <div class="container-fluid">
            <h1 class="storyHeading">TROY'S STORY</h1>
            <br>
            <div class="row storyBox">
                <div class="col-8 storyRedBox">
                    <span class="storyRedBoxText">
                        How A Small-Town Boy Generate
                        His 7-figure Brand Name and how he helps others build the same value of brand legacy
                    </span>
                </div>
                <div class="col-4">
                    <img class="storyImgBox" src="../../images/WhatsApp.png">
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section class="section2">
        <div class="row">
            <div class="col-6">
                <div class="signatureBox">
                    <div class="signatureBoxPara">
                        <p>
                            Reaching 7-figure brands, building high-quality
                            brand legacies for others and mentoring brand owners
                            and entrepreneurs are only in the PRESENT.
                        </p>
                        <p>
                            The PAST has taught me to become who I am.
                        </p>
                        <p>
                            At my home town in Woodville, Texas, I carry all the precious
                            memories of a simple life. It even occured to me to
                            think if I want to get out of bed or not. A young boy was lying there,
                            thinking and meditating on the future goals and dreams.
                            Then, I asked, “Am I enough to build for my last name?”
                        </p>
                        <p>
                            Over my 16-year training for my parents’health and wellness store and
                            other small village experiences, I was inspired to build my own name.
                            I got up to my feet and lived out of the best.
                        </p>
                    </div>
                    <h2 style="text-align: center;">Creating My Signature</h2>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section class="section3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="leftStyle">
                        <div class="sec3boxs sec3box1"></div>
                        <div class="sec3boxs sec3box2"></div>
                        <div class="sec3boxs sec3box3"></div>
                        <div class="sec3boxs sec3box4"></div>
                        <div class="sec3boxs sec3box5"></div>
                        <div class="sec3boxs sec3box6"></div>
                        <div class="sec3boxs sec3box5"></div>
                        <div class="sec3boxs sec3box4"></div>
                        <div class="sec3boxs sec3box3"></div>
                        <div class="sec3boxs sec3box2"></div>
                        <div class="sec3boxs sec3box1"></div>
                    </div>
                </div>
                <div class="col-6 sec3Text">
                    <h3>
                        I discovered that building my own dream business
                        was NOT at odds with helping others achieve theirs.
                    </h3>
                    <p>
                        My past taught me well, and luckily, my present can help you now.
                    </p>
                    <p>
                        I humbly offer direction and guidance for everyone, especially individuals who aspire to put up
                        their dream business. All my years of experience encourage me to share with you the ideas about:
                    </p>
                    <p>
                        How to establish a solid and firm digital brand identity
                        How to create a lucrative and effective brand name and legacy
                        How to expose a new business brand to the market with ease and confidence
                    </p>
                    <p>
                        With you come and see how we can establish your brand name in the market?
                    </p>
                </div>
                <div class="col-3">
                    <div class="rightStyle">
                        <div class="sec3boxs sec3box1"></div>
                        <div class="sec3boxs sec3box2"></div>
                        <div class="sec3boxs sec3box3"></div>
                        <div class="sec3boxs sec3box4"></div>
                        <div class="sec3boxs sec3box5"></div>
                        <div class="sec3boxs sec3box6"></div>
                        <div class="sec3boxs sec3box5"></div>
                        <div class="sec3boxs sec3box4"></div>
                        <div class="sec3boxs sec3box3"></div>
                        <div class="sec3boxs sec3box2"></div>
                        <div class="sec3boxs sec3box1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-2 footerRow1">
                    <div class="follow">
                        <div class="followus">Follow us on:</div>
                        <div class="footerRow1">
                            <a class="footerminilinks2" href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a class="footerminilinks2" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="footerminilinks2" style="padding-right: 10px;" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 footerRow1">
                    <button class="footerbtn1">
                        <i class="fab fa-spotify footerminilinks1"></i> Listen on Spotify
                    </button>
                </div>
                <div class="col-2 footerRow1">
                    <button class="footerbtn2">
                        <i class="fab fa-apple footerminilinks1"></i> Subcribe on itunes
                    </button>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-2 footerRow1">
                    <a class="footerlinks" href="#">Privacy Policy</a>
                </div>
                <div class="col-2 footerRow1">
                    <a class="footerlinks" href="#">Terms & Conditions</a>
                </div>
                <div class="col-2 footerRow1">
                    <a class="footerlinks" href="#">Contact</a>
                </div>
                <div class="col-3"></div>
            </div>
            <br>
        </div>
    </footer>
</body>

</html>