* {
    padding: 0px;
    margin: 0px;
}
/* Header with Navbar */
@font-face {
    font-family: mulish;
    src: url('../../fonts/Mulish/static/Mulish-Regular.ttf');
}
@font-face {
    font-family: gentium;
    src: url('../../fonts/Gentium_Book_Basic/GentiumBookBasic-Italic.ttf');
}
@font-face {
    font-family: libre;
    src: url('../../fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf');
}
header {
    background-color: #FAF9F9;
    padding: 20px;
    position: relative;
}
nav > ul > li > a {
    font-family: mulish;
    color: black !important;
    border-left: 1px solid lightslategrey;
    height: 0px;
    margin-top: 25px;
    line-height: 0px;
    font-size: 20px;
}
#aactive {
    font-family: mulish;
    color: red !important;
    font-weight: 800;
}
.logoimg {
    width: 60px;
    height: auto;
}
/* Section 1 */
.section1 {
    margin: auto;
    width: 1400px;
}
.storyBox {
    align-items: center;
}
.storyHeading {
    font-family: mulish;
    text-align: center;
}
.storyRedBox {
    height: 300px;
    background-color: #FF4343;
    font-family: mulish;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storyRedBoxText {
    font-size: 20px;
    border-left: 1px solid white;
    padding: 20px;
    margin: 40px;
}
.storyImgBox {
    width: 500px;
    height: auto;
    margin-left: -15px;
}
/* Section 2 */
.section2 {
    background-image: url('../../images/fidele.png');
    background-repeat: no-repeat;
    background-size: 92% auto;
    background-position: center;
    margin: auto;
    width: 1400px;
    height: 1075px;
    display: flex;
    align-items: center;
    filter: brightness(90%) contrast(90%);
}
.signatureBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF4343;
    height: 550px;
    color: white;
    font-family: mulish;
    padding: 0px 25px 0px 54px;
}
.signatureBoxPara {
    text-align: left;
    border-left: 1px solid white;
    padding-left: 25px;
}
/* Section 3 */
.section3 {
    margin-bottom: 80px;
}
.sec3Text {
    font-family: mulish;
    text-align: center;
}
.sec3Text > p {
    font-size: 24px;
}
.leftStyle {
    margin-left: -12px;
    display: flex;
    flex-direction: column;
}
.rightStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: -24px;
}
.sec3boxs {
    height: 60px;
    margin: 2.4px 0px;
}
.sec3box1 {
    background-color: #FF434380;
    width: 55px;
}
.sec3box2 {
    background-color: #FF434399;
    width: 110px;
}
.sec3box3 {
    background-color: #FF4343B2;
    width: 165px;
}
.sec3box4 {
    background-color: #FF4343CC;
    width: 220px;
}
.sec3box5 {
    background-color: #FF4343E5;
    width: 275px;
}
.sec3box6 {
    background-color: #FF4343;
    width: 330px;
}
/* Footer */
footer {
    background-color: #FAFAFA;
}
.footerRow1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerbtn1 {
    width: 200px;
    height: 70px;
    border: 2px solid #FF4343;
    font-family: mulish;
}
.footerbtn2 {
    width: 200px;
    height: 70px;
    border: 2px solid #FF4343;
    font-family: mulish;

}
.footerbtn1:hover {
    background-color: #FF4343;
}
.footerbtn1:hover .footerminilinks1, .footerbtn1:hover .textIcon{
    color: white !important;

}
.footerbtn2:hover {
    background-color: #FF4343;
}
.footerbtn2:hover .footerminilinks1, .footerbtn2:hover .textIcon{
    color: white !important;
}
.followus {
    font-family: mulish;
    font-size: 20px;
    margin: 15px 0 -15px 0;
}
.footerminilinks1 {
    color: #FF4343;
    font-size: 20px;
    padding: 5px;
}
.footerminilinks2 {
    font-size: 20px;
    color: #FF4343;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
.footerminilinks2:hover {
    color: white;
    background-color: #FF4343;
}
.footerlinks {
    font-family: mulish;
    font-size: 20px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 0px;
}
.footerlinks:hover {
    color: black;
}